#### Import of the libraries

In [261]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### Reading the hmtl

In [262]:
url=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

#### Getting the 1st table on the page

In [263]:
df=url[0]

In [264]:
df

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

#### Now I am getting rid off all the rows that contains 'Not assign' value in the 'Borough' column

In [277]:
df = df[df.Borough != 'Not assigned']

#### In case if any row in the column 'Neighborhood' contains NaN value I need to replace it with a 'Borough' name

In [276]:
df['Neighborhood'].replace(np.nan, df['Borough'], inplace = True)

#### I am checking if the Data frame contains any null objects

In [278]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal code   103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 3.2+ KB

#### Now I am channging the '/' delimeter to ',' in the 'Neighbourhood' column

In [279]:
df=df.replace(' /', ',', regex=True)

#### Resetting the table index

In [280]:
df = df.reset_index()
del df['index']

#### Here we can see the final table after all the clarification

In [288]:
df.head(11)

   Postal code           Borough                                 Neighborhood
0          M3A        North York                                    Parkwoods
1          M4A        North York                             Victoria Village
2          M5A  Downtown Toronto                    Regent Park, Harbourfront
3          M6A        North York             Lawrence Manor, Lawrence Heights
4          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5          M9A         Etobicoke                             Islington Avenue
6          M1B       Scarborough                               Malvern, Rouge
7          M3B        North York                                    Don Mills
8          M4B         East York              Parkview Hill, Woodbine Gardens
9          M5B  Downtown Toronto                     Garden District, Ryerson
10         M6B        North York                                    Glencairn

### The number of rows of your dataframe

In [290]:
df.shape

(103, 3)

### We import the postal data from csv file

In [291]:
postal = pd.read_csv('https://cocl.us/Geospatial_data')

### I change the name of the 'Postal code' postal dataframe column so I could merge it with df dataframe

In [327]:
postal = postal.rename(columns = {'Postal Code':'Postal code'})

In [329]:
Final= pd.merge(df, postal, on=['Postal code'], how='left')

In [330]:
Final

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999